@import '/styles/__global_variables.scss';

.newLetterForm{
    width: 350px;
    .newLetterFormHeader{
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0.7px;
    }
    .input{
        margin-top: 8px;
        border-radius: 0px;
        border: none;
        font-size: .7em;
        height: 40px;
        color: $grey;
    }
    .newLetterFormBtn{
        width: 100%;
        border: none;
        background: $secondary-color;
        padding: 8px;
        color: $white;
        font-weight: 600;
        font-size: .8em;
        text-transform: uppercase;
        letter-spacing: 4.9px;
        margin-top: 8px;
    }
}
