@import '/styles/__global_variables.scss';

.aboutPage{
    h1{
        background-color: $grey;
        background-image: url('/assets/images/New-Life-scaled.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        background-blend-mode:hard-light;
        padding: 100px;
        margin: 0;
        color: $white;
        font-size: 4em;
        font-weight: 900;
        line-height: 1.2em;
        text-shadow: 0px 0px 10px rgb(0 0 0 / 30%);
        font-family: $montserrat-font;
    }
    .panel1{
        background: $primary-color;
        padding: 100px;
        display: grid;
        grid-template-columns: 50% 50%;
        .firstAboutText{
            color: $white;
            h2{
                color: $white;
                margin-bottom: 35px;
            }
        }
        .aboutVideoContainer{
            display: flex;
            justify-content: center;
            align-items: center;
            .aboutVideo{
                border-radius: 20px;
                overflow: hidden;
                width: 450px;
                height: 250px;
                iframe{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    .panel2{
        display: flex;
        flex-direction: column;
        position: relative;
        .slideContainer{
            width: 100%;
            display: grid;
            grid-template-columns: 100% 0 0 0;
            grid-template-areas: 'active not not not';
            background: $black;
            .slide{
                height: 450px;
                background-repeat: no-repeat;
                background-size: 100% auto;
                background-position: center;
                opacity: 0;
                overflow: hidden;
                transition: opacity ease-in 400ms;
                &.active{
                    opacity: 1;
                    grid-area: active;
                    transition: opacity ease-in 400ms;
                }
                &.lastActive{
                    opacity: 0 !important;
                    grid-area: active;
                    transition: opacity ease-in 400ms;
                }
                &.slide1{
                    background-image: url('/assets/images/Mushroom.jpg');
                }
                &.slide2{
                    background-image: url('/assets/images/Open-Air.jpg');
                }
                &.slide3{
                    background-image: url('/assets/images/head1.jpg');
                }
                &.slide4{
                    background-image: url('/assets/images/Retreat.jpg');
                }
                .shade{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    background: rgba(0,0,0,0.5);
                    padding: 100px 50px;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $white;
                    font-size: 2.4em;
                    font-weight: 600;
                    letter-spacing: 5.8px;
                    span{
                        overflow: hidden;
                    }
                }
            }
        }
        .sliderDots{
            position: absolute;
            align-self: center;
            bottom: 15px;
            button{
                background: transparent;
                border: none;
                color: $white;
            }
        }
        .slideControls{
            position: absolute;
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 100%;
            button{
                width: 65px;
                color: $white;
                background: rgba(0,0,0,0.0);
                border: none;
                font-size: 2em;
                transition: $transition;
                &:hover{
                    background: rgba(0,0,0,0.3);
                    transition: $transition;
                }
            }
        }
    }
    .panel3{
        background: $primary-color;
        background-image: url('/assets/images/Leaves-2-scaled.jpg');
        background-size: 100%;
        background-repeat: no-repeat;
        .shade{
            padding: 65px 0;
            background: rgba(0,0,0,0.5);
            padding: 100px 50px;
            width: 100%;
            h3{
                color: $white;
                margin-bottom: 45px;
                font-size: 4em;
                margin-left: 65px;
            }
            .messageContainer{
                display: grid;
                grid-template-columns: 50% 50%;
                color: $white;
                .message{
                    margin-left: 65px;
                    margin-right: 65px;
                    p{
                        font-size: 1.1em;
                        font-weight: 500;
                        line-height: 1.8em;
                        letter-spacing: 0.3px;
                    }
                }
            }
        }
    }
    .panel4,
    .panel5{
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: center;
        background: $primary-color;
        color: $white;
        .message{
            padding: 60px;
            h2{
                font-size: 1.6em;
                color: $white;
                margin-bottom: 45px;
            }
            p{
                font-size: 1.1em;
                font-weight: 400;
                line-height: 1.7em;
                letter-spacing: 0.3px;
            }
        }
    }
    .panel6{
        background-image: url('/assets/images/Mushrooms.jpg');
        background-size: 100%;
        background-repeat: no-repeat;
        .shade{
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: rgba(0,0,0,0.5);
            padding: 100px 50px;
            width: 100%;
            p{
                color: $white;
            }
            .p6header{
                font-family: $bai-font;
                font-size: 1.9em;
                font-weight: 600;
                letter-spacing: 1.6px;
                text-shadow: 0px 0px 10px rgb(0 0 0 / 30%);
            }
            .joinUs{
                font-family: "Overlock SC", Sans-serif;
                font-size: 15px;
                font-weight: 600;
                text-transform: uppercase;
                letter-spacing: 4.1px;
                fill: #000000;
                color: #000000;
                background-color: #ffffff;
                border-radius: 14px 14px 14px 14px;
                padding: 15px 45px 15px 45px;
            }
        }
    }
}
