@import 'bootstrap/dist/css/bootstrap.min.css';
@import './__global_variables.scss';

body{
    font-family: $montserrat-font;
}
h1,h2,h3,h4,h5,h6{
    color: $primary-header-text-color;
    font-family: $bai-font;
}
